:root{
    --videoColor: lightgray;
    --videoDetailsColor: rgb(201, 201, 201);
}

.home{
    display: flex;
    flex-flow: row wrap;
}

.home > .videos {
    display: flex;
    flex-flow: row wrap;
    font-size: 18px;
    justify-content: center;
    margin: 20px;
    width: 100%;
}
  
.video {
    background-color: var(--videoColor);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px 10px;
    width: 300px;
    border: 1px solid black;
}

.video-details {
    background-color: var(--videoDetailsColor);
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
  
.video-player {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


.video-thumbnail {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    max-width: 79%;
}

.video-thumbnail > img {
    margin-right: 5px;
}

.video-views {
    color: var(--videoDetailsColor);
    margin-top: 5px;
}
