:root{
    --videoDetails: rgb(75, 75, 75);
    --suggestedVideoColor: rgb(201, 201, 201);
    --thumbnailColor: black;
}

.video-page-content {
    display: flex;
    flex-flow: column;
}

.video-content > .video-player {
    height: 600px;
}

.video-content > .video-details {
    align-items: center;
    background-color: var(--videoDetails);
    display: flex;
    height: 200px;
    justify-content: center;
    margin-bottom: 20px;
}

.suggested-video {
    background-color: var(--suggestedVideoColor);
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    display: flex;
    height: 200px;
    margin-bottom: 20px;
}

.suggested-details {
    align-self: center;
    padding-left: 20px;
    width: 100%;
}

.suggested-thumbnail {
    background-color: var(--thumbnailColor);
    border-right: 1px solid black;
    padding: 10px 10px;
    width: 600px;
}